@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto', serif;
}

h1 {
    font-family: 'Fraunces', serif;
}

body{
    height: 100vh;
    width: 100vw;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    background: rgba(5, 52, 138, 0.35);
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

header h1{
    color: #3B8AEB;
    font-size: 2rem;
}

header span{
    color: #3B516B;
}

.contatos .links{
    color: rgb(21, 27, 34);
    margin: 1rem;
    padding: 0.3rem;
    border-radius: 5px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.links::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #000000;
    position: absolute;
    bottom: 0;
    left: 0;
}

.links:hover{
    transition-duration: 0.4s;
    color: rgb(99, 99, 99);
}

.links:hover::after{
    transition-duration: 0.4s;
    width: 100%;
    background-color: #000000;
}

main{
    height: 90%;
    background-color: #cbdbf0ab;
    display: flex;
    overflow: hidden;
}

.imagem{
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.imagem img{
    max-width: 42rem;
    height: 40rem;
}

.principal{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 25rem;
    width: 20rem;
    border-radius: 21px 10px;
    padding: 1rem;
    margin: 3rem;
    background: rgba(9, 103, 226, 0.35);
    box-shadow: 7px 7px 2px 0 rgba(0, 0, 0, 0.521);
    backdrop-filter: blur( 30px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card h2{
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-shadow: 1px 1px 3px black;
}

.card p{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-family: Roboto, sans-serif;
}

.card button{
    height: 2rem;
    border: none;
    cursor: pointer;
    width: 70%;
    border-radius: 7px;
    background-color: rgb(6, 92, 204);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Roboto',sans-serif;
}

.card button:hover{
    transition-duration: 0.3s;
    transform: scale(1.1);
    background-color: rgb(4, 75, 167);
    letter-spacing: 1px;
}

@media(max-width: 665px) {
    
    main{
        width: 100%;
    }

    header h1 {
        font-size: 1.5rem;
    }

    .contatos{
        display: flex;
    }

    .contatos .links{
        font-size: 13px;
    }

    .imagem{
        display: none;
    }

    .principal{
        height: 90%;
        width: 100%;    
    }
}
