@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 95vh;
    width: 100vw;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
}

.contatos .links{
    color: black;
    margin: 1rem;
}

.principal{
    display: flex;
    justify-content: space-evenly;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25rem;
    width: 20rem;
    background-color: lightgray;
    border-radius: 21px 5px;
    padding: 1rem;
}

footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 0.5rem;
}

@media(max-width: 665px) {
    .principal{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
}
