.modal-open{
    background-color: rgb(0, 0, 0);
}

main{
    height: 90%;
    width: 100%;
}

.cards-cadastro{
    width: 100%;
}

.cadastrar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 2rem;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background-color: rgb(3, 112, 202);
}

.cadastrar button{
    width: 7rem;
    height: 1.5rem;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: rgba(5, 52, 138, 0.35);
    transition: ease-in .3s;
    cursor: pointer;
}

.cadastrar button:hover{
    background-color: rgb(3, 59, 105);
}

#cadastrados{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 3rem;
    overflow-y: scroll;
}

#cadastrados::-webkit-scrollbar{
    width: 12px;
    background-color: rgba(93, 145, 240, 0.534);
    border-radius: 30px;
}

#cadastrados::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background-color: rgba(0, 26, 255, 0.596);
}

#cadastrados table{
    width: 100%;
    max-width: 80rem;
    margin: 1rem;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

#cadastrados table th{
    background-color: rgba(5, 52, 138, 0.35);
    padding: 3px;
    border-radius: 5px 5px 0px 0px;
}

#cadastrados table td{
    padding: 2px 5px;
    background-color: rgba(255, 255, 255, 0.247);
    cursor: pointer;
}

.start{
    text-align: start;
}

.center{
    text-align: center;
}

#cadastrados table td img{
    width: 20px;
    margin: 0 3px;
}

#cadastrados table td button{
    border: none;
    background-color: transparent;
}

#cadastrados table td img:hover{
    cursor: pointer;
}

#cadastrados-tr tr:hover{
    background-color: rgba(151, 214, 243, 0.623);
}

.modal{
    display: none;
    width: 52rem;
    height: 40rem;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 7px;
    transform: translate(-50%, -50%);
    background-color: rgb(102, 178, 240);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.473);
    z-index: 1;
    font-weight: bold;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 3rem;
    text-align: center;
}

.nome-idade{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cards-cadastro input:focus{
    outline: 2px solid rgba(0, 26, 255, 0.596);
}

.erro{
    outline: 2px solid rgb(231, 64, 59);
}

.acerto{
    outline: 2px solid rgba(82, 253, 3, 0.596);
}

.container{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 0.3rem;
    color: rgb(0, 0, 0);
    gap: 2px;
}

.container #nome-modal, #nome-edit, #idade-modal, #idade-edit, #nota1, #nota2, #nota3{
    width: 20rem;
    height: 1.5rem; 
    background-color: rgb(179, 210, 235);
    border: none;
    border-radius: 12px;
    padding: 7px;
    color: rgb(54, 54, 54);
}

.select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal select{
    background-color: rgb(179, 210, 235);
    border: none;
    border-radius: 5px;
    padding: 7px;
    width: 50%;
    cursor: pointer;
}

.btn-modal{
    margin-bottom: 0.5rem;
}
.btn-modal button{
    border: none;
    border-radius: 12px;
    width: 50%;
    height: 2rem;
    cursor: pointer;
    background-color: rgb(179, 210, 235);
}

@media(max-width: 700px) {
    .modal{
        width: 90%;
    }
}